*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    font-family:Arial, sans-serif;
    background-image: url("fundo.png");
    background-size: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:900px;
    height:550px;
    background:#fff;
    display:flex;
    border-radius:16px;
    overflow:hidden;
    box-shadow:0 25px 60px rgba(0,0,0,0.25);
}

/* LEFT */

.left{
    position:relative;
    background-color: #5AAAFD;
    width:50%;
}

.left img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:opacity .4s;
}

.left img.fade-out{ opacity:0; }

.left::after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:60%;
    background:linear-gradient(
        to top,
        rgba(0,0,0,0.35),
        rgba(0,0,0,0)
    );
}


.overlay{
    position:absolute;
    bottom:40px;
    left:40px;
    right:40px;
    color:#fff;
    z-index:2;
}

/* RIGHT */

.right{
    width:50%;
    display:flex;
    flex-direction:column;
}

/* ABAS */

.top-tabs{
    position:relative;
    height:60px;
}

.area{
    position:absolute;
    top:6px;
    width:33.33%;
    height:48px;
    border:none;
    border-radius:12px;
    background:transparent;
    font-weight:600;
    color:#6b6b6b;
    cursor:pointer;
    transition:all .45s cubic-bezier(.25,.8,.25,1);
}

.area.pos-left{ left:0; }
.area.pos-center{ left:33.33%; transform:scale(1.12); z-index:2; }
.area.pos-right{ left:66.66%; }

.area.active{
    background:#fff;
    color:#5AAAFD;
    box-shadow:0 10px 25px rgba(90,170,253,.35);
}

/* TEXTO LOGIN */

.login-info{
    width:80%;
    margin: 50px auto 30px; /* antes estava 15px */
    text-align:center;
}

.login-info h2{
    font-size:26px;
    margin-bottom:8px;
}

.login-info p{
    font-size:14px;
    color:#666;
}

/* FORM */

.right form{
    width:70%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
}

.right input{
    padding:13px;
    margin-bottom:10px;
    border-radius:10px;
    border:1px solid #ccc;
}

/* OPÇÕES */

.login-options{
    display:flex;
    justify-content:space-between;
    font-size:13px;
    margin-bottom:18px;
}

.forgot{
    color:#5AAAFD;
    text-decoration:none;
}

/* BOTÃO */

.btn-login{
    padding:14px;
    border:none;
    border-radius:10px;
    background:#5AAAFD;
    color:#fff;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.btn-login:hover{
    transform:translateY(-2px);
    box-shadow:0 6px 15px rgba(0,168,204,.4);
}

/* FADE TEXTO */

.fade-text{
    transition:opacity .35s, transform .35s;
}

.fade-out-text{
    opacity:0;
    transform:translateY(10px);
}
