* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
}

/* NAVBAR */
.navbar {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
}

.navbar nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.navbar nav a:hover {
    color: #00bcd4;
}

/* HERO */
.hero {
    background-color: #a8d5e2;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-primary {
    padding: 12px 25px;
    border: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #333;
}

/* MODULES */
.modules {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 20px;
}

.card {
    background-color: black;
    color: white;
    padding: 40px;
    width: 220px;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background-color: #222;
}
